<h1>アカウント詳細ページ</h1>

<table class="table">
  <tbody>
    <tr>
      <th scope="col">名前 : </th>
      <td scope="col"><%= @user.name %></td>
      <th></th>
    </tr>
  
    <tr>
      <th>メールアドレス : </th>
      <td><%= @user.email %></td>
      <td></td>
    </tr>

    <tr>
      <td colspan="2" class="col-6"><a href="<%= edit_user_path %>" id="edit-user" class="btn btn-success edit-user">編集</a>
         <a href="<%= tasks_path %>"  id="back" class="btn btn-link back">戻る</a></td>
      
    </tr>
   
  </tbody>
  
</table>